body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    background-image: linear-gradient(red, yellow);

}

header {
    height: 200px;
    width: 100%;
    text-align: center;
}
header {
    text-shadow: 2px 0.5px;
}

header h1 {
    font-size: 60px;
    align-self: center;
}
header h2 {
    font-size: 40px;
    margin-top: -10px;
}

.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    height: 70px;
    width: 100%;
    gap: 40px
}

.new-grid {
    width: 150px;
    height: 60px;
    box-shadow: 3px 3px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.5s;
    background-color: yellow;
}

.new-grid:hover {
    background-color: orange;
}

.grid-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 0px;
    box-shadow: 10px 10px;
}

.babyGrid {
    box-sizing: border-box;
    background-color: lightgray;
}

.slider {
    width: 80%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    
}

.sliderDiv {
    width: 400px;
}
.colorDiv p {
    margin-top: auto;
    margin-bottom: 6px;
}

p {
    font-size: 20px;
}