body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

header {
    height: 100px;
    width: 100%;
    background-color: coral;
    text-align: center;
}

header h2 {
    font-size: 30px;
    align-self: center;
}

.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: skyblue;
    text-align: center;
    height: 70px;
    width: 100%;
    gap: 100px
}

.new-grid {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.5s;
}

.new-grid:hover {
    background-color: orange;
}

.grid-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 0px;
}

.babyGrid {
    border: solid blue 1px;
    box-sizing: border-box;
    background-color: lightgray;
}

.slider {
    width: 80%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    
}

.sliderDiv {
    width: 400px;
}